@model DotNetFlask.Models.HomeModel
@{
    ViewData["Title"] = "OutPut Page";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    design{
        position: absolute,
    }
</style>
<h3 id="design">@Model.OutPut</h3>